h1{
    padding:20px 20px;
    background-color: lightblue;
    border: 1px solid black; 
    text-align: center; 
}

.ayuda{
    padding:20px 20px;
    background-color: pink;
    border: 1px solid black;
    text-align: center; 
    
}